doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="description", content="coming soon")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Trybes")
    link(rel="publisher", href="https://plus.google.com/117050340230816653418")
    link(rel="apple-touch-icon" href="img/favicon.png")

    title CONTROL

    style.
      html, body {
        width: 100%;
        height: 100%;
        font-family: Helvetica, sans-serif;
        font-weight: lighter;
        background-color: WhiteSmoke;
      }
      html, body, div {
        margin: 0;
        padding: 0;
        text-align: center;
      }

      .main-container {
        width: 100%;
        height: 100%;
        display: table;
        background-image: url(/images/road.jpg);
        background-size: cover;
      }

      .vertical-middle {
        display: table-cell;
        vertical-align: middle;
      }

      h1 {
        margin: 30px 0 0 0;
        padding: 0;
        letter-spacing: -5px;
        font-size: 120px;
        font-weight: lighter;
      }
      h2 {
        margin: 0;
        padding: 0 5px;
        font-size: 70px;
        letter-spacing: 0;
        line-height: 1.1;
        font-weight: lighter;
      }
      .buttons {
        margin: 160px 0 40px 0;
      }
      .appstore {
        margin-right: 25px;
        position: relative;
        top: -2px;
      }
      .more {
        display: block;
        color: black;
        font-weight: bold;
      }
      @media (max-width: 700px) {
        h1 {
          font-size: 60px;
        }
        h2 {
          font-size: 40px;
        }
        .buttons {
          margin: 20px 0;
        }
      }
  body
    .main-container
      .vertical-middle
        h1 00:00:00
        h2 Ready to take control of your life?
        .buttons
          img.appstore(src="/images/appstore.png", alt="get it on the Apple App store")
          img(src="/images/playstore.png", alt="get it on the Google Play store")
        a.more(href="/") find out more

    script.
      var h1 = document.querySelector('h1');
      
      function addZero(num) {
        if (num < 10) {
          return '0' + num;
        }
        return num;
      }
      
      setInterval(function () {
        var time = new Date(),
            seconds = addZero(time.getSeconds()),
            hours = addZero(time.getHours()),
            minutes = addZero(time.getMinutes());

        var str = hours + ':' + minutes + ':' + seconds
        h1.textContent = str;
      }, 1000);